body {
    margin: 0;
    background: #1C1C1C;
}

.container {
    width: 550px;
    background-color: #ECFDF5;
    margin: 50px auto;
    padding: 115px 52px;
}

h1 {
    color: #2B283A;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin-top: 0;
}

.accent-text {
    display: block;
    color: #10B981;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6B7280;
}

button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 16px;
    color: #FFFFFF;
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    margin-bottom: 35px;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

.password-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #D5D4D8;
    padding-top: 35px;
}

.password-field {
    width: 180px;
    height: 32px;
    border-radius: 6px;
    background-color: #273549;
    color: #5DEF92;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    padding: 4px 16px;
}
